.productAvatar
  display: inline-block
  margin: 5px
  width: min-content
  border-radius: 25px
  text-align: center
  margin-bottom: 50px

  .productImage
      width: 40vw
      height: 35.2vw
      background-size: 130%
      background-position: center
      z-index: 3
      box-shadow: 0px 0px 5px 3px  #FFFF89
      border-color: #FFFF89
      border-radius: 30px
      margin: 5px
  

  .productDescription
    display: inline-block
    margin: auto
    color: azure
    text-align: center
    margin-top: 5px
    margin-bottom: 5px

    .productName, .productDetail
      margin: 0
    

    .productName
      font-weight: bold
      font-size: 17px
    

    .productDetail
      font-size: 17px
    

  

  .setOfQuantityButtons
    display: flex
    justify-content: space-between
    align-items: center

    .quantityButton, .quantityDisplayer
      height: 100%
      width: 25%
      border-radius: 20%
      display: table
      text-align: center
      color: azure

      p
        display: table-cell
        vertical-align: middle
        font-size: 25px
        font-weight: bold
        text-shadow: 0px 0px
      
    


    .quantityButton
        background-color: azure
        color: hsl(0, 0%, 7.5%)
    

    .quantityButton:hover
        font-weight: bold
        border-color: black
        border-width: 1.5px
        cursor: pointer
        background-color: darkgrey
    

    .quantityDisplayer
        background-color: hsl(0, 0%, 7.5%)
    
   
