@import url(https://fonts.googleapis.com/css?family=Montserrat);

// 'Bg' = background
// $titleGapBgColor: #214352;
$titleGapBgColor: #0a2027;
$whiteBgAndFont: azure;
$headerAndTotalBg: #375f70;
$itemRowBg: #689bb0;
$lightDarkFont: #6c757d;